@model IEnumerable<JukeBoxPartyWeb.Models.Account>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<span class="text-danger">
    @ViewBag.ErrorMessage
</span>
<table class="table">
    <thead>
        <tr>
            <th>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User.NickName)
            </th>
            <th>
                Role
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User.LastAccessed)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User.Email)
            </th>
            <th>
                Confirmed email
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User.PhoneNumber)
            </th>
            <th>
                Confirmed phonenumber
            </th>
            <th>
                Enabled Two-Factor Authentication
            </th>
            <th>
                AccessFailed count
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <img src="~/media/images/@item.Role.ImageUrl" class="icon" >
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.User.NickName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Role.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.User.LastAccessed)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.User.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.User.EmailConfirmed)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.User.PhoneNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.User.PhoneNumberConfirmed)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.User.TwoFactorEnabled)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.User.AccessFailedCount)
                </td>
                
                <td>
                    @if ((User.IsInRole("AccountManager") && item.Role.Name != "Admin") && User.Identity.Name != item.User.UserName)
                    {
                        <a asp-action="Edit" asp-route-id="@item.User.Id">Edit</a>
                    }
                    
                    @if (User.IsInRole("Admin") && User.Identity.Name != item.User.UserName )
                    {
                        <a asp-action="Edit" asp-route-id="@item.User.Id">Edit</a>
                        @:|
                        <a asp-action="Delete" asp-route-id="@item.User.Id">Delete</a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
